$lightText-color: #ffffff;
$blue-color: #3740ff;
$link-color: #005DA6;

*,
::before,
::after {
  box-sizing: border-box;
}

@mixin hover {
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  }
}

.second-background {
  background: $lightText-color;
}

.relative-pos {
  position: relative;
  height: 20rem;
  margin: auto;
}

.btn-position {
  margin-top: 3rem;
}

.blue-button {
  @include hover();
  background-color: $blue-color;
  color: $lightText-color;
  min-width: 7rem;
  height: 3rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: .5rem;
  font-family: 'BNazanin' , 'BYekan', sans-serif;
  line-height: 1.2;
  color: inherit;
}

a {
  color: $link-color;
  background-color: transparent;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-align: right;
  font-size: 1.0625rem;
  color: #333333;
}
