<div class="container-fluid">
  <div class="row">
    <section class="f-section d-sm-flex flex-row-reverse container">
      <div class="col-sm-12 col-md-7">
        <img class="first-img"
          src="https://www.gstatic.com/devrel-devsite/vbb62cc5a3e8f17e37bae4792b437f28f787df3f9cf9732cbfcc99b4f4ff41a54/web/images/headers/future_web.svg"
          alt="firstImg">
      </div>
      <div class="relative-pos col-sm-12 col-md-5">
        <h2>شرکت شبکه تارنمای سپاهان</h2>
        <br>
        <p>با سابقه کاری 30 سال آماده همکاری با شرکت های تجاری، اداری و حسابرسی می باشد
        </p>
        <div class="btn-position">
          <button class="btn blue-button col-sm-12 col-md-4">بیشتر بخوانید</button>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="container-fluid second-background">
  <div class="container">
    <div class="row">
      <section class="sec-section">
        <h4>ما متعهد به اجرای درست بوده و هستیم.</h4>
        <br>
        <h5>راه اندازی و اجرای سامانه های </h5>
        <br>
        <h5>خدمات غیرحضوری - اپلیکیشن همراه مردمی و اپراتوری - امور مالی</h5>
        <div class="btn-position">
          <button class="btn blue-button col-sm-12 col-md-4">بیشتر بخوانید</button>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="container-fluid second-background">
  <div class="row">
    <section class="third-section">
      <div class="container">
        <div class="row align-items-start">
          <div *ngFor="let cd of cardsDetails" class="col-sm-12 col-md-6 col-lg-4">
            <div class="row">
              <div class="col custom-card-body">
                <img src="{{cd.img}}" alt="card text" class="img-fluid">
                <h4>{{cd.titleText}}</h4>
                <p>{{cd.subText}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="container-fluid second-background">
  <div class="container">
    <div class="row">
      <section class="forth-section col-sm-12 col-md-6">
        <h1>همکاری با شرکت های</h1>
        <p>اصفهان ، تهران ، ایلام، هرمزگان</p>
      </section>
    </div>
  </div>
</div>
<div class="container-fluid second-background">
  <div class="row">
    <section class="fifth-section">
      <div class="container">
        <div class="row align-items-start">
          <div *ngFor="let of of ourFacilities" class="col-md-6 col-lg-4">
            <div class="row">
              <div class="col custom-card-body">
                <img src="{{of.img}}" alt="card text" class="img-fluid our-facility-background">
                <h4>{{of.titleText}}</h4>
                <p>{{of.subText}}</p>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <section></section>
    </div>
  </div>
</div>