<header>
  <nav class="navbar navbar-expand-md" id="fixed-top">

      <a class="navbar-brand" style="margin-right: 0">
        <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"
          id="brand-logo" alt="Microsoft" style="cursor: pointer;" />
      </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
      style="height: 2.8rem">
      <span class="navbar-toggler-icon btn"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">

      <ul class="nav navbar-nav" id="changeLangTransition">

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" data-toggle="collapse"
            data-target=".navbar-collapse.show">Product Blogs</a>
        </li>

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class=" nav-link" [routerLink]="['/']" routerLinkActive="active" data-toggle="collapse"
            data-target=".navbar-collapse.show">DevOps</a>
        </li>

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">My
            Features</a>
        </li>

      </ul>


    </div>
  </nav>
</header>
