@import '../../../assets/scss/total';

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

nav .navbar {
  display: flex;
  flex-direction: row-reverse;
}

ul {
  margin: 0;
  padding: 0;

  li {
    padding: 1rem 2rem;
    /* margin: 0 .5rem 0 .5rem; */
    display: inline-block;

    position: relative;
    cursor: pointer;

    &:hover , &:focus , &:active {
      background-color: #f4f4f4;
      outline: 0;
    }
  }

}
.brand-logo {
  width: 9rem;
}
