section {
  padding: 30px 12% 40px;

  div {
    background-color: #ffffff;
    justify-content: center;

    div {
      header {
        padding-top: 4rem;
        text-align: center;
        margin: auto;

        img.img-fluid {
          border-radius: 100%;
          width: auto;
          height: auto;
          max-height: 4rem;

        }

      }
    }
  }
}

body {
  div {
    .img-horizontal-center {
      margin-bottom: .5rem;
      display: flex;
      justify-content: center;
    }

    div {
      .entry-title-paragraph {
        font-weight: 500;
      }
    }
  }
}
